.chat__nav,
.chatUserProfile {
  cursor: url(/public/pointerCursor.png) 8 8, auto;
}

.chatContainer {
  display: flex;
  width: 100%;
  height: 100%;
  /* 바꿔라 김현지 */
  padding: 25px 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

#chatHeader {
  height: 25%;
}

#directChatHeader {
  height: 15%;
}

.chatLeftContainer {
  height: 75%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.chatRightContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  flex: 0.6;
}

.chatRightContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.598);
  border-radius: 10px;
  filter: blur(3px);
}

.chatTitle {
  text-shadow: 0 3px 2px rgb(151, 151, 151);
  font-size: 2.3rem;
}

.chatNav {
  display: flex;
  /* 바꿔라 김현지 */
  padding: 17px;
  margin-left: -17px;
  font-weight: bold;
}
.chatNav > * {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 2px 20px;
  align-items: center;
  margin-right: 12px;
  font-size: 24px;
  transition: 0.3s;
  border-radius: 10px;

  &:hover {
    background-color: rgb(185, 185, 185);
  }
}

.chatLeftContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.598);
  border-radius: 10px;
  filter: blur(3px);
  z-index: -1;
}
.chatUserInner {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border-radius: 10px;
  overflow: auto;
  height: 100%;
  /* margin-bottom: 20px; */
  /* backdrop-filter: blur(3px); 요소 뒤에 있는 배경에 블러 효과 적용 */
}

.chatUser {
  z-index: 100;
}

.chatSearchFormContainer {
  display: flex;
  align-items: center;
  position: relative;
}

#chatSearchUserForm {
  width: 100%;
  background-color: white;
  padding-right: 40px;
  padding-left: 15px;
  border-radius: 10px;
}

#chatSearchUserInput {
  border-radius: 10px;
  width: 100%;
  height: 2.3rem;
  font-size: 1.5rem;

  &::placeholder {
    color: rgb(201, 201, 201);
  }
}

#searchUserImage {
  position: absolute;
  right: 5px;
  width: 2rem;
  color: rgb(160, 160, 160);
}

#chattingForm {
  margin-top: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  background-color: white;
  border-color: #e1e1e1;
  display: none;
}

#chattingInput {
  width: 100%;
  border-radius: 10px;
  padding: 0 10px;
  height: 2.3rem;
  font-size: 1rem;
}

#chattingSubmitImage {
  /* display: none; */
  margin-right: 10px;
}

.chatUserProfile {
  display: flex;
  position: relative;
  margin: 2px 0;
  padding: 10px 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: #797979;
  transition: 0.3s;
}

/* chatUserProfile blur처리 */
.chatUserProfileBlur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfdff8d;
  border-radius: 10px;
  filter: blur(3px);
  transition: 0.2s;
}

.outDirectChatRoomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 5px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: 0.3s;
}

.outDirectChatRoomContainer:hover {
  background-color: rgb(198, 198, 198);
}

.outDirectChatRoom {
  z-index: 1;
  fill: #878787;
  width: 1.3rem;
  height: 1.3rem;
  transform: translate(2px, 1px);
}

.directMsgImageContainer {
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px;
  border-radius: 50%;
  transition: 0.3s;
}

.directMsgImageContainer:hover {
  background-color: rgb(198, 198, 198);
}

.directMsgImageContainer:hover > .directMsgImage {
  -webkit-animation: directMsgAnime 2s cubic-bezier(0.275, 0.005, 0.015, 0.99) 1;
}

@-webkit-keyframes directMsgAnime {
  0% {
    transform: translate(-1px, 1px) scale(1);
  }
  30% {
    transform: translate(-10px, 5px) scale(1.3);
  }
  100% {
    transform: translate(15px, -15px) scale(0.3);
  }
}

.directMsgImage {
  transform: translate(-1px, 1px);
  transition: 1s;
}

.chatUserProfile.active {
  color: white;
}

.chatUserProfile.active .outDirectChatRoom {
  fill: white;
}

.chatUserProfile.active .chatUserProfileBlur {
  background-color: #797979;
}

.chatUserProfile:hover > .chatUserProfileBlur {
  background-color: #ababab;
}

.chatUserInfo {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 10px;
  z-index: 1;
}

.directOnlineUserImage {
  position: absolute;
  width: 10.34px;
  z-index: 2;
  bottom: -5px;
  left: -5px;
}

.chatUserImage {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.chatUserName {
  font-size: 1.3rem;
  padding-left: 10px;
}

.chatRoom {
  display: flex;
  z-index: 1;
  overflow: auto;
  flex-direction: column;
  height: 100%;
  min-width: 240px;
}

.myMsgBox {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  max-width: 90%;
}

.opponentMsgBox {
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  max-width: 90%;
}

.friendChat,
.myChat {
  position: relative;
  word-break: break-all;
  z-index: 1;
  color: black;
  background-color: white;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  align-self: flex-start;
}

.myChat {
  margin-right: 10px;
  margin-left: 0px;
}

.friendChat::after {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  border-left: 20px solid white;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotateY(180deg);
}

.myChat::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  border-left: 20px solid white;
  border-top: 00px solid transparent;
  border-bottom: 10px solid transparent;
}

.unReadCount {
  display: flex;
  background-color: rgba(255, 0, 0, 0.581);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  z-index: 1;
}

@media (width < 1024px) {
  .chatContainer {
    padding: 0;
  }
  .chatUserImage {
    display: none;
  }
}

@media (width < 768px) {
  .chatNav > * {
    padding: 0;
    font-size: 19px;
  }
  .chatUserInner {
    padding: 0;
  }
  .chatRoom {
    min-width: 100px;
  }
  #chatSearchUserInput {
    font-size: 1rem;
  }
  .directMsgImageContainer {
    width: 1rem;
    height: 1rem;
  }
}
