#friendspageTitle {
  padding-top: 2%;
  padding-left: 2%;
  text-shadow: 1px 2.3px 2px grey;
  font-size: 2.3rem;
}

.friends_nav {
  padding: 2% 2% 2% 2%;
  display: flex;
  flex: 1;
}

.friends_nav__link {
  text-decoration: none;
  padding: 0.5% 1.5%;
  border-radius: 20px;
  color: white;
  margin-right: 1.5%;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(111, 111, 111, 0.5);
}

.friends_nav__link:hover {
  background-color: rgba(111, 111, 111, 0.1);
}
.friendsHeader {
  display: flex;
}

.searchBarContainer {
  padding-right: 2%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.searchBar {
  border-radius: 20px;
  height: 40%;
  width: 50%;
  border: solid 2px #a8a8a8;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.5);
}

.searchBar input {
  border-radius: 20px;
  display: flex;
  border: none;
  outline: none;
  margin-left: 2%;
  height: 30%;
  width: 77%;
  padding: 4%;
  font-size: 1rem;
  background-color: transparent;
  color: grey;
}

.searchBar svg {
  align-self: center;
}
.friendListContainer {
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* 높이 지정 우찌 하지 */
.friendList {
  display: flex;
  height: 55px;
  margin-bottom: 1.5%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.38);
  padding: 0% 2%;
}

.friendProfile {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
}

.friendProfileImg {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  position: relative;
  background-color: pink;
  align-self: center;
}
.onlineImg {
  height: 23%;
  position: absolute;
  bottom: -2px;
  left: -10px;
}

.friendname {
  display: flex;
  align-self: center;
  margin-left: 30px;
  color: #5e5e5e;
  font-weight: bold;
  font-size: 1.3rem;
}

.threedotsImg {
  align-self: center;
  width: 28px;
  height: auto;
  margin-left: 1%;
  /* background-color: red; */
}

#friendship {
  background-color: rgba(111, 111, 111, 0.38);
}

.blockText {
  align-self: center;
  color: #8f8f8f;
  font-size: 1.2rem;
  font-weight: bold;
}

.battlebuttonImg,
.chatbuttonImg {
  width: auto;
  height: 60%;
  align-self: center;
  /* height: 34px; */
}

/* request */

.requestContainer {
  display: flex;
  flex: 1;
  position: relative;
  /* justify-content: space-between; */
}

.recievedRequestContainer {
  display: flex;
  flex: 1;
  margin-right: 10px;
  /* background-color: green; */
  border: solid 2px white;
  border-radius: 10px;
  position: relative;
  margin-top: 15px;
}

.sentRequestContainer {
  display: flex;
  flex: 1;
  margin-left: 10px;
  border: solid 2px white;
  border-radius: 10px;
  position: relative;
  margin-top: 15px;
  /* background-color: blue; */
}

.recievedTitle,
.sentTitle {
  position: absolute;
  left: 10px;
  top: -25px;
  font-size: 1.4rem;
}

.option {
  display: flex;
  position: relative;
}

.optionModal {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: white;
  z-index: 3;
  border-radius: 15px;
  position: absolute;
  bottom: -56px;
  right: -70px;
  border-top-left-radius: 0;
  display: none;
}

.optionModal.active {
  display: block;
}
