.chatbutton,
.battlebutton,
.friendsThreedotsImg,
.friends_nav__link {
  cursor: url(/public/pointerCursor.png) 8 8, auto;
}

#friendspageTitle {
  padding-top: 2%;
  padding-left: 2%;
  text-shadow: 1px 2.3px 2px grey;
  font-size: 2.3rem;
}

.friends_nav {
  padding: 2%;
  display: flex;
  flex: 1;
}

.friends_nav__link {
  text-decoration: none;
  padding: 2px 20px;
  border-radius: 10px;
  color: white;
  margin-right: 1.5%;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(111, 111, 111, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.friends_nav__link:hover {
  background-color: rgb(185, 185, 185);
}
.friendsHeader {
  display: flex;
}

.searchBarContainer {
  padding-right: 2%;
  display: flex;
  flex: 1;
  /* width: 500px; */
  /* background-color: blue; */
  align-items: center;
  justify-content: flex-end;
}
.searchBar {
  border-radius: 20px;
  height: 40%;
  /* width: 50%; */
  min-height: 25px;
  border: solid 2px #a8a8a8;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.5);
}

.searchBar input {
  border-radius: 20px;
  display: flex;
  border: none;
  outline: none;
  margin-left: 2%;
  height: 30%;
  width: 77%;
  padding: 4%;
  font-size: 1rem;
  background-color: transparent;
  color: grey;
  align-self: center;
}

.searchBar svg {
  align-self: center;
}
.friendListContainer,
.recievedListContainer,
.sentListContainer {
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none;
}

.friendContainer {
  padding: 10px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

/* 높이 지정 우찌 하지 */
.friendList {
  display: flex;
  min-height: 55px;
  /* min-width: 0px; */
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.38);
  padding: 5px 10px;
}

.friendProfile {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
}

.friendProfileImg {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  position: relative;
  background-color: pink;
  align-self: center;
}

.profileImg {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.onlineImg {
  height: 23%;
  position: absolute;
  bottom: -2px;
  left: -8px;
}

.friendname {
  transition: 1s;
  display: flex;
  align-self: center;
  margin-left: 30px;
  color: #5e5e5e;
  font-weight: bold;
  font-size: 1.3rem;
}

.friendsThreedotsImg,
.searchThreedotsImg,
.requestRecievedThreedotsImg {
  align-self: center;
  width: 28px;
  height: auto;
  margin-left: 1%;
  /* background-color: red; */
}

#friendship {
  background-color: rgba(111, 111, 111, 0.38);
}

.blockText {
  align-self: center;
  color: #8f8f8f;
  font-size: 1.2rem;
  font-weight: bold;
}

.chatbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aeaeae;
  width: 70px;
  height: 35px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  align-self: center;
  margin: 0px 1dvw;
  color: #636363;
  text-decoration: none;
}

@-webkit-keyframes chatMsgAnime {
  0% {
    transform: translate(-1px, 1px) scale(1);
  }
  30% {
    transform: translate(-2px, 3px) scale(1.2);
  }
  100% {
    transform: translate(11px, -11px) scale(0.3);
  }
}

.chatbutton:hover > .chatMsgImage {
  -webkit-animation: chatMsgAnime 2s cubic-bezier(0.275, 0.005, 0.015, 0.99) 1;
}

.chatMsgImage {
  transform: translate(-1px, 1px);
  transition: 1s;
}

.battlebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aeaeae;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  align-self: center;
  color: #636363;
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes leftgloveMove {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-1px);
  }
}

@keyframes rightgloveMove {
  0% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(1px);
  }
}

.leftgloveImg {
  margin-left: 5px;
}

.rightgloveImg {
  margin-left: 2px;
}

.battlebutton:hover .leftgloveImg {
  animation: leftgloveMove 0.5s 1.8 linear;
}

.battlebutton:hover .rightgloveImg {
  animation: rightgloveMove 0.5s 1.8 linear;
}
/* request */

.requestContainer {
  display: flex;
  /* background-color: red; */
  flex: 1;
  position: relative;
  height: 100%;
  overflow: auto;
  /* justify-content: space-between; */
}

.requestInnerContainer {
  /* background-color: blue; */
  display: flex;
  flex: 1;
  border-radius: 20px;
  /* padding: 4px; */
  margin: 2px;
  flex-direction: column;
}

.recievedTitle,
.sentTitle {
  /* position: absolute; */
  /* left: 10px;
  top: -25px; */
  font-size: 1.4rem;
}

.option {
  display: flex;
  position: relative;
}

.optionModal {
  display: flex;
  width: 50px;
  /* height: 90px; */
  background-color: white;
  z-index: 5;
  border-radius: 10px;
  position: absolute;
  bottom: -60px;
  right: -22px;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  visibility: hidden;
}

.optionModal.active {
  visibility: visible;
}

.optionBtn {
  display: flex;
  color: #676767;
  font-size: 1.1rem;
  padding: 4px;
  /* background-color: pink; */
  align-items: center;
  justify-content: center;
}

.searchOptionBtns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.searchOptionRequestBtn,
.searchOptionBlockBtn {
  display: flex;
  /* padding: 0px 10px; */
  color: black;
  /* justify-content: flex-start; */
  font-size: 1.2rem;
  opacity: 0.4;
  font-weight: bold;
}

#friendRequestBtn {
  width: 145px;
}

.searchOptionBtn:hover {
  opacity: 0.8;
}

.requestIcons {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.acceptIcon {
  margin-left: 5px;
  padding: 3px;
}

.cancelSentIcon,
.rejectRecievedIcon {
  color: grey;
}

.acceptIcon:hover,
.cancelSentIcon:hover,
.rejectRecievedIcon:hover {
  transform: scale(1.2);
}

#request_nav__link {
  position: relative;
}

.requestBadge {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.4);
  top: -2px;
  right: 2px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.requestBadgeInner {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}

.requestBadge.active {
  visibility: visible;
}

@media (max-width: 1400px) {
  .friendsHeader {
    flex-direction: column;
  }
  .searchBarContainer {
    justify-content: flex-start;
    padding: 2%;
    height: 15px;
    /* background-color: red; */
  }
  .searchBar {
    width: 50%;
  }
  .searchBar input {
    width: 82%;
  }
}

@media (max-width: 1024px) {
  .friendname {
    margin-left: 10px;
  }
  .rejectRecievedIcon,
  .acceptIcon,
  .cancelSentIcon {
    width: 1.5em;
    height: 1.5em;
  }
}

@media (max-width: 875px) {
  .friendProfileImg {
    display: none;
  }
}

@media (max-width: 800px) {
  .friends_nav__link {
    padding: 2px 15px;
  }
}

@media (max-width: 768px) {
  #friendRequestBtn {
    width: 120px;
  }
}

@media (max-width: 560px) {
  .friends_nav__link {
    padding: 2px 3px;
  }
  .leftgloveImg {
    display: none;
  }
  .rightgloveImg {
    display: none;
  }
  .battlebutton {
    width: 60px;
  }
  .chatbutton {
    width: 50px;
  }
  .chatMsgImage {
    display: none;
  }
  .requestContainer {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .battlebutton,
  .chatbutton,
  .blockText,
  .searchOptionRequestBtn,
  .searchOptionBlockBtn {
    font-size: 1rem;
  }
  .friendsThreedotsImg {
    width: 20px;
  }
  .battlebutton {
    width: 50px;
  }
  .chatbutton {
    width: 34px;
  }
  #friendRequestBtn {
    width: 55px;
  }
  .friends_nav__link {
    font-size: 1.2rem;
  }
}
