/* .gameContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
} */

.gameScore {
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.competitorsScore,
.myScore {
  display: flex;
}

.gameBody {
  display: flex;
  flex: 1;
  background-color: red;
}

.pingpongBody {
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  align-items: center;
}
.playingUserBody {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.pingpongTable {
  display: flex;
  height: 49vw;
  width: 68vw;
  border-radius: 10px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  box-shadow: inset 5px 0 10px -5px white, inset -5px 0 10px -5px white,
    inset 0 5px 10px -5px white, inset 0 -5px 10px -5px white;
  position: relative;
  align-items: center;
  justify-content: center;
}

.pingpongTable::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.playingUserInfo {
  display: flex;
  width: 12vw;
  height: 22vw;
  background: linear-gradient(to top, black, white);
  box-shadow: inset 5px 0 10px -5px white, inset -5px 0 10px -5px white,
    inset 0 5px 10px -5px white, inset 0 -5px 10px -5px white;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}

.myPingpongStick {
  width: 20px;
  height: 100px;
  background-color: black;
  margin-right: 20px;
  position: absolute;
  right: 0;
  /* 상위 요소에 대해 중간으로 이동 후 자신의 크기 절반만큼 이동 */
  top: 50%;
  transform: translateY(-50%);
  transition: 0.05s;
}

.pingpongStick {
  width: 20px;
  height: 100px;
  background-color: black;
  margin-left: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pingpongBall {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #1eff00;
  box-shadow: 0 0 6px 2px black;
}

.playingUserImage {
  display: flex;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  justify-content: center;
}

.competitorsImg,
.myImg {
  width: 170px;
  height: 170px;
  border-radius: 10px;
}

.playingUserName {
  display: flex;
  width: 200px;
  height: 60px;
  font-size: 2rem;
  justify-content: center;
  color: grey;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
}

.playingUserTotalScore {
  display: flex;
  width: 100%;
  height: 320px;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  flex-direction: column;
  border-radius: 10px;
}

.competitorsTotalScore,
.myTotalScore {
  display: flex;
  font-size: 2rem;
}

.pongworldImg {
  opacity: 0.2;
  width: 200px;
  height: 150px;
  transform: translateX(14px);
}

.gameResultModalContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.592);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}

.gameResultModalContainer.active {
  visibility: visible;
  opacity: 1;
}

.gameResultModal {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winnerText {
  color: #535353;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: bold;
  width: 100%;
  height: 60px;
}

.winner {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.winnerImg {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  border: 3px solid black;
}

.crownSvg {
  position: absolute;
  top: 2px;
}

.goHomeBtn {
  border: solid 1px grey;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(111, 111, 111, 0.3);
  font-size: 1rem;
  width: 100%;
}
