#gamepageTitle {
  text-align: center;
  text-shadow: 1px 2.3px 2px grey;
  font-size: 2.3rem;
  margin-top: 20px;
  /* background-color: blue; */
}

.usersRankBody {
  display: flex;
  flex: 1.1;
  flex-direction: row;
  /* background-color: blueviolet; */
}

.usersRank {
  display: flex;
  background-color: rgba(255, 255, 255, 0.38);
  border-radius: 20px;
  flex: 1;
  margin: 3%;
  position: relative;
}

.usersHistoryBody {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.38);
  padding: 10px;
}

.playgameDiv {
  display: flex;
  flex: 0.4;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

.playgameButton {
  font-size: 2rem;
  /* padding: 10px; */
  border-radius: 25px;
}

.playgameButton:hover {
  color: grey;
}

#moreImg {
  display: flex;
  align-self: center;
  width: 6%;
  opacity: 0.5;
}

.starImg {
  position: absolute;
  top: -16px;
  left: -15px;
}

.usersHistory {
  display: flex;
  flex: 1;
  padding: 10px;
  /* background-color: pink; */
}

.recentPlayersImg {
  display: flex;
  flex: 1;
  /* background-color: red; */
  align-items: center;
  position: relative;
}

.recentPlayer1Img {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  border: solid 1px white;
}
.recentPlayer2Img {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  border: solid 1px white;
  left: 70px;
}

.versus,
.resultScore {
  display: flex;
  flex: 2;
  font-size: 1.5rem;
  align-self: center;
  justify-content: center;
  word-spacing: 10px;
  text-shadow: 1px 1px 4px grey;
  /* background-color: aqua; */
}

.gameDate {
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  align-self: center;
  justify-content: center;
  word-spacing: 10px;
  text-shadow: 1px 1px 4px grey;
  /* background-color: blue; */
}

.recentPlayerImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/*----------------game.js----------------*/

.gameContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: pink; */
}

.gameScore {
  display: flex;
  /* flex: 1; */
  font-size: 3rem;
  font-weight: bold;
  width: 150px;
  /* background-color: rebeccapurple; */
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* text-shadow: 2px 3px 1px black; */
}

.competitorsScore,
.myScore {
  display: flex;
  /* background-color: green; */
}

.gameBody {
  display: flex;
  flex: 10;
  /* padding: 0px 20px; */
}

.pingpongBody {
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  align-items: center;
}
.playingUserBody {
  display: flex;
  flex: 1;
  /* background-color: purple; */
  justify-content: center;
  align-items: center;
}

.pingpongTable {
  display: flex;
  width: 95%;
  height: 90%;
  /* background-color: pink; */
  border-radius: 10px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  /* backdrop-filter: blur(5px); */
  box-shadow: inset 5px 0 10px -5px white, inset -5px 0 10px -5px white,
    inset 0 5px 10px -5px white, inset 0 -5px 10px -5px white;
  position: relative;
}

.pingpongTable::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

.playingUserInfo {
  display: flex;
  width: 80%;
  height: 40%;
  background: linear-gradient(to top, black, white);
  box-shadow: inset 5px 0 10px -5px white, inset -5px 0 10px -5px white,
    inset 0 5px 10px -5px white, inset 0 -5px 10px -5px white;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}

.myPingpongStick {
  width: 20px;
  height: 100px;
  background-color: black;
  margin-right: 20px;
  position: absolute;
  right: 0;
  /* 상위 요소에 대해 중간으로 이동 후 자신의 크기 절반만큼 이동 */
  top: 50%;
  transform: translateY(-50%);
  transition: 0.05s;
}

.pingpongStick {
  width: 20px;
  height: 100px;
  background-color: black;
  margin-left: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pingpongBall {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  /* border: solid 1px black; */
  background-color: #1eff00;
  box-shadow: 0 0 6px 2px black;
}

.playingUserImage {
  /* margin-top: 15px; */
  display: flex;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  justify-content: center;
  /* background-color: pink; */
}

.competitorsImg,
.myImg {
  width: 170px;
  height: 170px;
  border-radius: 10px;
}

.playingUserName {
  display: flex;
  width: 200px;
  height: 60px;
  font-size: 2rem;
  justify-content: center;
  color: grey;
  padding: 10px;
  /* background-color: grey; */
  border-radius: 10px;
  font-weight: bold;
  /* border: solid 2px white; */
  /* text-shadow: 2px 2px 2px grey; */
  align-items: center;
}

.playingUserHistory {
}

.playingUserComment {
  /* margin-top: 20px; */
  display: flex;
  width: 100%;
  height: 320px;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  flex-direction: column;
  /* background-color: red; */
  /* box-shadow: inset 5px 0 10px -5px white, inset -5px 0 10px -5px white,
    inset 0 5px 10px -5px white, inset 0 -5px 10px -5px white; */
  border-radius: 10px;
}

.competitorsTotalScore,
.myTotalScore {
  display: flex;
  font-size: 2rem;
}
