#gamepageTitle {
  text-align: center;
  text-shadow: 1px 2.3px 2px grey;
  font-size: 2.3rem;
  margin-top: 20px;
  /* background-color: blue; */
}

.usersRankBody {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: blueviolet; */
}

.usersRank {
  display: flex;
  background-color: rgba(255, 255, 255, 0.38);
  border-radius: 10px;
  width: 10dvw;
  height: 10dvw;
  /* margin: 25px; */
  min-height: 80px;
  min-width: 80px;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.usersHistoryBody {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.38);
  padding: 10px;
  backdrop-filter: blur(2px);
  overflow: auto;
}

.playgameDiv {
  display: flex;
  flex: 0.4;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

.quickMatchButton,
.tournamentButton {
  display: flex;
  height: 30px;
  font-size: 1.7rem;
  margin-left: 2dvw;
  font-weight: 400;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  border: 2px solid white;
}

.tournamentSvg,
.quickMatchSvg {
  margin-left: 5px;
}

.quickMatchButton:hover,
.tournamentButton:hover {
  box-shadow: inset 5px 0 10px -5px white, inset -5px 0 10px -5px white,
    inset 0 5px 10px -5px white, inset 0 -5px 10px -5px white;
}

.starImg {
  position: absolute;
  top: -16px;
  left: -15px;
}

.usersHistory {
  display: flex;
  min-height: 80px;
  width: 100%;
  padding: 10px;
  /* background-color: pink; */
}

.recentPlayersImg {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
}

.recentPlayer1Img {
  width: 3.8dvw;
  height: 3.8dvw;
  min-width: 40px;
  min-height: 40px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  border: solid 1px white;
}
.recentPlayer2Img {
  width: 3.8dvw;
  height: 3.8dvw;
  min-width: 40px;
  min-height: 40px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  border: solid 1px white;
  left: 3.2dvw;
}

.versus {
  display: flex;
  flex: 1;
  font-size: 1.4rem;
  align-self: center;
  justify-content: center;
  word-spacing: 10px;
  text-shadow: 1px 1px 4px grey;
  /* background-color: aqua; */
}
.resultScore {
  display: flex;
  flex: 1;
  font-size: 1.4rem;
  align-self: center;
  justify-content: center;
  letter-spacing: 10px;
  text-shadow: 1px 1px 4px grey;
  /* background-color: aqua; */
}

.gameDate {
  display: flex;
  flex: 1;
  font-size: 1.4rem;
  align-self: center;
  justify-content: center;
  word-spacing: 10px;
  text-shadow: 1px 1px 4px grey;
  /* background-color: blue; */
}

.recentPlayerImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.line {
  width: 100%;
  min-height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 2px 1px 1px rgba(111, 111, 111, 0.3);
}

.rankersInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
}

.rankersImg {
  width: 95%;
  height: 95%;
  border-radius: 10px;
}

.rankersName {
  display: flex;
  color: black;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  width: 5dvw;
  height: 2.3dvw;
  min-width: 80px;
  min-height: 20px;
  /* padding: 8px; */
  bottom: 0px;
  right: 0px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.quickMatchModalContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.592);
  z-index: 7;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

.quickMatchModalContainer.active {
  visibility: visible;
  opacity: 1;
}

.quickMatchModal {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  background-color: rgb(223, 223, 223);
  flex-direction: column;
  color: black;
}

.matchingText {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10px;
  height: 60px;
}

.matchingOpponent {
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  align-items: center;
}

.opponentMatching,
.myMatching {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.myMatchingImg,
.opponentMatchingImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.matchingCancelBtn {
  border: solid 1px grey;
  padding: 10px;
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(111, 111, 111, 0.3);
  font-size: 1rem;
}

.currentStaff {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  /* background-color: red; */
  font-size: 1.3rem;
  margin-bottom: 10px;
}

@media (max-width: 810px) {
  .rankersName {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
  }
}

@media (max-width: 768px) {
  .recentPlayersImg {
    display: none;
  }
  .usersRankBody {
    flex: 0.7;
  }
}

@media (max-width: 600px) {
  .tournamentButtonText {
    display: none;
  }
  .quickMatchButtonText {
    display: none;
  }
  .tournamentSvg,
  .quickMatchSvg {
    margin-left: 0px;
  }
  .usersRankBody {
    /* flex-direction: column; */
    /* background-color: pink; */
    padding: 10px 0px;
  }
  .usersRank {
    min-height: 0px;
    min-width: 60px;
    height: 9dvw;
    /* background-color: blue; */
  }
  .rankersImg {
    display: none;
  }
  .rankersName {
    position: relative;
    background-color: transparent;
    font-size: 1.1rem;
  }
  .starImg {
    width: 2.5em;
    height: 2.5em;
  }
}

@media (max-width: 420px) {
  .usersRankBody {
    flex-direction: column;
  }
  .usersRank {
    min-height: 0px;
    min-width: 100px;
    height: 6dvw;
    width: 30dvw;
    /* background-color: blue; */
  }
}
