* {
  margin: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  color: white;
  cursor: url(/public/mouseCursor.png) 8 8, auto;
}

.nav__link {
  cursor: url(/public/pointerCursor.png) 8 8, auto;
}

input {
  border: 0;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  background-color: #000000;
  background-image: linear-gradient(
      45deg,
      #444 25%,
      transparent 25%,
      transparent 75%,
      #444 75%,
      #444
    ),
    linear-gradient(
      45deg,
      #444 25%,
      transparent 25%,
      transparent 75%,
      #444 75%,
      #444
    );
  background-position: 0 0, 50vh 50vh;
  background-size: 100vh 100vh;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  cursor: url(/static/public/mouseCursor.png) 8 8, auto;
}

#main_title {
  font-size: 1.2rem;
  padding-left: 1.2%;
  padding-top: 1%;
  display: none;
}
.main_body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
.nav {
  display: none;
  flex-direction: column;
  padding: 3% 2%;
}
.nav__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
  font-size: 2.1rem;
  font-weight: 600;
  margin-block: 10px;
  padding: 7px;
  padding-right: 50px;
  border-radius: 7px;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 10px 2px;
  }
}

.nav__link.active {
  background-color: rgb(40, 40, 40);
  box-shadow: 0 0 10px 2px;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.contentsContainer {
  display: flex;
  flex-direction: column;
  /* backdrop-filter: blur(5px); */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  height: 78vh;
  width: 61vw;
  margin-top: 2%;
  margin-left: 6%;
  border-radius: 10px;
  padding: 1%;
  box-shadow: inset 5px 0 10px -5px white, inset -5px 0 10px -5px white,
    inset 0 5px 10px -5px white, inset 0 -5px 10px -5px white;
  /* box-shadow: inset rgba(255, 255, 255, 0.2) 3px -5px 9px 2px; */
}

#headphoneImg {
  width: 32px;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: 3%;
  right: 2%;
  display: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;

  &:hover {
    background-color: rgb(40, 40, 40);
  }
}

.musicModalContainer {
  position: absolute;
  display: flex;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.592);
  width: 100dvw;
  height: 100dvh;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.musicModalContainer.show {
  visibility: visible;
  opacity: 1;
}

.musicModal {
  position: absolute;
  display: flex;
  background-color: rgb(223, 223, 223);
  color: rgb(61, 61, 61);
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
}

.musicModal div p {
  text-shadow: 0 5px 5px rgb(183, 183, 183);
}

#backgroundMusicVolumeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

#backgroundMusicVolume {
  width: 80%;
  border-radius: 10px;
  outline: none;
  -webkit-appearance: none;
  transition: background 450ms ease-in;
  background: linear-gradient(
    to right,
    rgb(105, 105, 105) 0%,
    rgb(105, 105, 105) 50%,
    #ececec 50%,
    #ececec 100%
  );
  accent-color: black;
}

.musicControls {
  display: flex;
}

.musicControls > * {
  padding: 20px 30px;
}

#musicStop {
  display: none;
}

#musicPlay,
#musicStop {
  width: 40px;
}

#musicName {
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: 30px;
}
.battleModalContainer,
.confirmModalContainer,
.cancelRequestModalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.592);
  z-index: 7;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}

.battleModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgb(223, 223, 223);
  color: black;
  z-index: 8;
}

.battleModalContainer.active {
  visibility: visible;
  opacity: 1;
}

.battleMsg {
  /* background-color: pink; */
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
}

.battlePlayer {
  display: inline;
  font-size: 1.2rem;
  margin-top: 10px;
}

.battleCancelBtn {
  border: solid 1px grey;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(111, 111, 111, 0.3);
  font-size: 1rem;
}

.confirmModal,
.cancelRequestModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgb(223, 223, 223);
  color: black;
  z-index: 7;
}

.confirmModalContainer.active {
  visibility: visible;
  opacity: 1;
}

.cancelRequestModalContainer.active {
  visibility: visible;
  opacity: 1;
}
.confirmModalMsg,
.cancelRequestModalMsg {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 20px;
}
.confirmButtons,
.cancelRequestModalButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.confirmBtn,
.cancelBtn,
.cancelRequestModalBtn,
.closeRequestModalBtn {
  font-size: 1rem;
}

#gameOptionModalContainer {
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.592);
  width: 100dvw;
  height: 100dvh;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#gameOptionModalContainer.show {
  visibility: visible;
  opacity: 1;
}

#gameModal {
  position: absolute;
  display: flex;
  background-color: rgb(223, 223, 223);
  color: rgb(61, 61, 61);
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
}

#controlsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-block: 10px;
}

#mouse,
#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 25px;
  border-radius: 30px;
  transition: 0.2s;

  &:hover {
    background-color: rgb(184, 184, 184);
  }

  &:active {
    background-color: rgb(60, 71, 74);
  }
}

#keyboard.active {
  background-color: rgb(184, 184, 184);
}

#mouse.active {
  background-color: rgb(184, 184, 184);
}

#mouseImage {
  transform: rotateZ(45deg);
}

#keyboardImage {
}

#modeContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-block: 10px;
}

.mode {
  padding: 15px 25px;
  border-radius: 30px;
  transition: 0.2s;

  &:hover {
    background-color: rgb(184, 184, 184);
  }

  &:active {
    background-color: rgb(60, 71, 74);
  }
}

.mode.active {
  background-color: rgb(184, 184, 184);
}

.optionExplanation {
  color: rgb(184, 184, 184);
  text-shadow: 2px 2px 2px grey;
}

#gameOptionNextBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 5px;

  &:hover {
    background-color: rgb(184, 184, 184);
  }
  &:active {
    background-color: rgb(60, 71, 74);
  }
}
