#myPageConatiner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* text-shadow: 1px 2.3px 2px grey; */
}

#myPageSettingBtn {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
}

.sidebar {
  padding: 1rem;
  width: 200px;
  position: fixed;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.05);
}

.sidebar div {
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  color: #a1a1a1;
  font-size: 1.25rem;
}

.sidebar div:hover,
.sidebar .active {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  cursor: pointer;
}

.profile-container {
  margin: 15 auto;
  /* padding: 20px; */
  width: 90%;
  display: flex; /* 컨테이너 내의 아이템들을 가로로 정렬합니다. */
  flex-direction: column;
  align-items: center; /* 아이템들을 세로 방향으로 중앙에 위치시킵니다. */
}

.profile-string {
  display: flex; /* 내부 요소들을 유연하게 배치 */
  flex-direction: row; /* 요소들을 세로로 배치 */
  width: 100%; /* 부모 요소의 전체 너비 사용 */
  padding: 20px 0px;
  /* margin: 15px 0px; */
  margin-left: 0;
  box-sizing: border-box;
}

.myPageProfileImgContainer {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.38);
}

.myPageProfileImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

#myPageIntro {
  margin: 0;
}

.profile-name {
  margin-bottom: 10px;
  padding-top: 25px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  color: grey;
  white-space: nowrap;
}

.profile-card {
  display: flex;
  position: relative;
  height: 50%;
  padding: 10px;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  margin-left: 20px;
  min-height: 55px;
  color: rgb(0, 0, 0);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3); /* 배경색 추가 */
  }
}

.profile-card p {
  display: flex;
  /* justify-content: center; */
  font-size: 1.5rem;
  word-break: break-all;
  color: rgba(0, 0, 0, 0.7);
  /* text-align: center; */
  margin-bottom: 10px;
}

.stats {
  border-radius: 20px; /* 모서리 둥글게 */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%; /* 부모 요소의 전체 너비 사용 */
  padding: 0 20px;
  margin: 15px auto;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3); /* 배경색 추가 */
  }
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 방향으로 중앙 정렬 */
  margin: 10px;
  padding: 10px 0px;
  font-size: 1.5rem;
  font-weight: bold;
}

.stat-title {
  font-weight: bold;
  color: hsla(0, 0%, 100%, 1);
  text-align: center; /* 텍스트도 중앙 정렬 */
  width: 100%;
  margin-bottom: 5px;
}

.stat-value {
  font-size: 1.8rem;
  color: white;
  text-align: center; /* 텍스트도 중앙 정렬 */
  width: 100%;
}

.match-history {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  border-radius: 20px;
  width: 90%; /* 부모 요소의 전체 너비 사용 */
  height: 100%;
  padding: 20px;
  margin: 15px auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3); /* 배경색 추가 */
  }
}

.match-history-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.match {
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* justify-content: space-between; */
  min-height: 100px;
  align-items: center;
  font-size: 1.1rem;
  text-shadow: 1px 1px 4px grey;
}

#myPageMatchImg {
  display: flex;
  flex-direction: row;
}

#myPageMatchResult {
  justify-self: center;
}

#myPageMatchTime {
  justify-self: flex-end;
}

.player-image {
  width: 50px; /* 이미지의 너비를 69px로 설정합니다. */
  height: 50px; /* 이미지의 높이를 61px로 설정합니다. */
  object-fit: cover; /* 이미지가 적절히 자리를 차지하도록 설정합니다. */
  border-radius: 50%; /* 이미지의 모서리를 둥글게 처리합니다. */
  position: relative; /* position 속성을 relative로 설정하여 위치를 조정할 수 있도록 합니다. */
  background-color: rgba(255, 255, 255, 0.38);
}

.match .player-image:first-child {
  z-index: 1; /* 첫 번째 이미지가 위로 오도록 z-index 값을 높입니다. */
}

.match .player-image:last-child {
  z-index: 0; /* 두 번째 이미지가 아래로 오도록 z-index 값을 낮춥니다. */
}

.players,
.score {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  word-spacing: 5px;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.match .time-ago {
  /* min-width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: auto; */
  color: hsl(0, 100%, 99%, 1);
  /* font-size: 13px; */
}

@media (max-width: 768px) {
  .profile-container,
  .stats,
  .match-history {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
  }
  .player-image {
    width: 35px;
    height: 35px;
  }
}

@media (width < 554px) {
  .stats {
    height: 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .stat {
    margin: 0;
    flex-direction: row;
  }
  #myPageMatchImg {
    display: none;
  }
  .match {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /* .match {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  } */
}

@media (width < 486px) {
  .myPageProfileImgContainer {
    width: 50px;
    height: 50px;
  }
  .myPageProfileImg {
    width: 50px;
    height: 50px;
  }
  .match {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .players,
  .score,
  .result,
  .time-ago {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
