.notFoundPageLink {
  cursor: url(/public/pointerCursor.png) 8 8, auto;
}

#notFoundPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  flex-direction: column;
  background-color: red;
}

#notFoundImgae {
  width: 40dvw;
  height: 40dvw;
}

.notFoundPageLink {
  padding: 10px 10px;
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}
