#mailAuthModal {
  z-index: 220; /* 세팅 모달보다 높은 값 */
  /* 기타 스타일 */
}

.mailAuthContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9; /* 조금 더 진한 회색 */
  padding: 15px; /* 패딩 줄임 */
  border-radius: 8px; /* 모서리 둥글기 조정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* 모달의 최대 너비 줄임 */
  border: 0.5px solid black; /* 검은색 테두리 추가 */
  box-sizing: border-box; /* 테두리와 패딩을 크기 계산에 포함 */
}

.mailAuthContent h2 {
  color: black; /* 글자 색상을 검은색으로 설정 */
  font-size: 1.1rem;
}

.sendAndInput {
  display: flex; /* Flexbox를 사용하여 아이템들을 가로로 배치 */
  gap: 5px; /* 아이템 사이의 간격 */
  align-items: center;
  width: 70%; /* 컨테이너의 너비를 부모 요소의 100%로 설정 */
  min-height: 50px; /* 컨테이너의 최소 높이 설정 */
  padding: 10px; /* 컨테이너 내부의 패딩 추가 */
}

#code {
  flex-grow: 1;
  padding: 10px 10px; /* 패딩을 늘려 입력 영역의 크기를 키움 */
  font-size: 1.1rem; /* 폰트 크기를 늘려 입력 내용이 더 크게 보이도록 함 */
  margin: 5px 0; /* 상하 마진 추가 */
  border-radius: 5px; /* 테두리 둥글기를 조금 줄임 */
  border: 1px solid #ccc; /* 테두리 색상 추가 */
  text-align: center; /* 텍스트 중앙 정렬 */
  width: 100%;
}

#sendEmailButton {
  padding: 8px 10px;
  margin-top: 20px; /* 상단 마진 추가 */
  margin-bottom: 3px; /* 기존의 하단 마진 유지 */
  font-size: 0.7rem;
  background-color: transparent;
  border: none;
  color: black;
  position: relative;
  display: inline-block;
  min-width: 100px;
  cursor: pointer;
}

#sendEmailButton::after {
  content: '';
  position: absolute;
  left: 25%; /* 밑줄의 시작 위치를 버튼 너비의 15% 지점으로 설정 */
  bottom: 10px; /* 밑줄을 글자에 더 가까이 위치시킴 */
  width: 50%; /* 밑줄의 너비를 버튼의 70%로 설정 */
  height: 0.04px;
  background-color: black;
}

#verifyCodeButton {
  padding: 8px 10px; /* 패딩을 줄여 버튼의 크기를 줄임 */
  margin: 3px 0; /* 마진 유지 */
  font-size: 0.9rem; /* 폰트 크기를 줄여 버튼 내용이 더 작게 보이도록 함 */
  background-color: rgb(196, 196, 196); /* 배경색 유지 */
  color: rgb(104, 104, 104); /* 글자색 유지 */
  border-radius: 8px; /* 테두리 둥글기를 조금 줄임 */
  border: none; /* 테두리 없음 */
  width: 70%;
  cursor: pointer;
}

#error {
  font-size: 0.8rem; /* 글자 크기를 줄임 */
}
